<html>
<head>
<title>Forms</title>
</head>
<body>
<p>test forms</p>

<div>
<h5>some var</h5>
{% if go %}
{{name}}
<br>
{{email}}
{% else %}
<strong>no data</strong>
{% endif %}
</div>
<form action="" method="get">
<fieldset>
<legend>Name</legend>
<label>Name: <input type="text" name="name" /></label>
</fieldset>
<fieldset>
<legend>Email</legend>
<label>Email: <input type="email" name="email" /></label></fieldset>
<fieldset>
<legend>Post data</legend>
<label>
<input type="reset" />&nbsp;<input type="submit" name="go" />
</label>
</fieldset>
</form>
<a href="/">clear get</a><br/>
<a href="/url">url for</a><br/>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p>{{ messages[0] }}</p>
  {% endif %}
{% endwith %}
</body>
</html>
